<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Download file</title>
</head>
<body>
<div class="main_content">
<form action="/download"> 
   <label for="file-download">Enter name of file to download.</label><br>
   <input type="text" id="file-download" placeholder="eg. theory.txt" />
   <button type="submit" >Generate download link</button> 
</form>
<h1 id="output_message"></h1>
<h3 id="aware_user"></h3>
<h2><a id="Access_URL" download ></a></h2>
</div>

<script src="/js/app.js"></script>
</body>
</html>