<!DOCTYPE html>
<html>
<head>
  <!-- CSS file -->
  <link rel="stylesheet" href="/css/styles.css">
  <title>File Sharing System</title>
</head>
<body>
 <!-- SINGLE FILE -->
 <div class="main_content">
<form action="/uploadfile" enctype="multipart/form-data" method="post"> 
   <label for="file-upload">Send File.</label><br>
   <input type="file" name="myFile" id="file-upload" />
   <button type="submit" >Upload a file</button> 
</form>
</div>
</body>
</html>